<section class="container">
  <h2 class="container__title">LISTA DE ALUMNOS</h2>
  <h3 class="container__subtitle">(Aclaración!! Las Carreras de Sistemas se pondra en rojo, y las demás en verde)</h3>
  <ul class="container__list">
    <li *ngFor="let AlumnoModel of alumnos">
      <p>Nombre: {{ AlumnoModel.nombre }}</p>
      <p>Apellido: {{ AlumnoModel.apellido }}</p>
      <p [ngClass]="AlumnoModel.boolean ? 'active-color' : 'active-color2'">Carrera: {{ AlumnoModel.carrera }}</p>
      <p>Fecha de Ingreso: {{ AlumnoModel.fechaDeIngreso | date }}</p>
    </li>
</ul>
</section>

<!-- <li *ngFor="let ListaDeAlumnosModel of alumnos">
  {{ ListaDeAlumnosModel.firstName }}
  {{ ListaDeAlumnosModel.lastName }}
  {{ ListaDeAlumnosModel.carrera }}
  {{ ListaDeAlumnosModel.clasificacion }}
</li> -->
